<form method="post" action="/correcto">
    <div>
	    <label for="nombre" class="rem">nombre:</label>
	    <input type="text" id="nombre" name="nombre" value="">
	</div>
    <div>
	    <label for="password" class="rem">password:</label>
	    <input type="password" id="password" name="password" value="">
	</div>
	    <div>
    	<input type="submit" name="envio" value="Aceptar">
     </div> 
</form>
